<% reward = @challenge.shared? ? @challenge.root_challenge.reward : @challenge.reward %>

<div class="challenge-show" data-controller="invite">
  <%= render "header", challenge: @challenge %>

  <% if @challenge.solo? && @challenge.active? %>
    <%= render "invite_panel", challenge: @challenge %>
  <% end %>

  <h1 class="challenge-title-h1"><%= @challenge.title %></h1>

  <% if @challenge.quest.present? %>
    <%= link_to quest_path(@challenge.quest), class: "challenge-quest-backlink" do %>
      ↑ Jornada: <%= @challenge.quest.title %>
    <% end %>
  <% end %>

  <% if @challenge.tags.any? %>
    <div class="challenge-tags">
      <% @challenge.tags.each do |tag| %>
        <span class="challenge-tag"><%= tag.icon %> <%= tag.name %></span>
      <% end %>
    </div>
  <% end %>

  <% if @challenge.description.present? %>
    <p class="challenge-description"><%= @challenge.description %></p>
  <% end %>

  <%= render "progress_grid", challenge: @challenge %>

  <% if @challenge.shared? %>
    <%= render "participants", challenge: @challenge %>
  <% end %>

  <% if @challenge.active? || @challenge.planned? %>
    <%= render "checkin_cta", challenge: @challenge %>
  <% end %>

  <%= render "completion", challenge: @challenge %>

  <% if reward.present? %>
    <%= render "reward_block", reward: reward, shared: @challenge.shared? %>
  <% end %>

  <%= link_to "← Voltar", root_path, class: "challenge-back-link" %>
</div>
